* {
	margin: 0;
	padding: 0;
}

.content {
	width: 1280px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 60px;
	background-color: #2189bf;
	position: relative;
}

header img {
	position: absolute;
	top: 10px;
    left: 50px;
}

header input {
	width: 315px;
	height: 30px;
	border-radius: 15px;
	box-sizing: border-box;
	padding-left: 40px;
	border: 0;
	outline: 0;
	background: url(images/search.png) no-repeat #fff;
	background-position: 15px 5px;
}

header a {
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	padding-left: 20px;
	margin-left: 20px;
	background: url(images/login.png) no-repeat;
}

header div {
	position: absolute;
	right: 90px;
	top: 15px;
}

@media (max-width: 600px) {
	header div {
		display: none;
	}
}

.left {
	width: 260px;
	height: 1215px;
	background-color: #2a2e3d;
	float: left;
	color: #6a7c90;
	position: relative;
	font-size: 12px;
}

.info {
	height: 150px;
	position: absolute;
	left: 45px;
	top: 15px;
}

.hpwrapper {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-sizing: border-box;;
	border: 1px solid #d4d4d6;
	display: inline-block;
}

.headP {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin: 5px;
	background: #d4d4d6;
}

#username {
	display: inline-block;
	position: absolute;
	left: 70px;
	top: 20px;
	font-size: 16px;
	color: #e8e8e9;
}

.userfocus p {
    float: left;
    width: 70px;
    text-align: center;
    margin-top: 20px;
}

.userfocus p:first-of-type {
	border-right: 2px solid #313545;
}

.list {
	width: 260px;
	position: absolute;
	top: 150px;
}

.list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list ul ul {
	padding-left: 25px;
}


.list>ul>li {
	margin-bottom: 35px;
	padding-left: 45px;
}

.list ul ul li {
	margin-top: 15px;
}

.list .current {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	background: #383d4e;
}

.list a {
	text-decoration: none;
	color: #6a7c90;
	font-size: 12px;
}

.list .now {
	color: #e8e8e9;
}

.list i {
	width: 12px;
	height: 12px;
	margin-right: 5px;
	float: left;
}

.personal{background: url(images/personal.png) no-repeat center;}
.file_close_arrow{background: url(images/file_close_arrow.png) no-repeat center;margin-right: 7px;}
.file_close {background: url(images/file_close_image.png) no-repeat center;}
.file_open_arrow{background: url(images/file_open_arrow.png) no-repeat center;margin-right: 7px;}
.file_open {background: url(images/file_open.png) no-repeat center;}
.disk_file_open {background: url(images/disk_file_open.png) no-repeat center;}
.disk_file_close{background: url(images/disk_file_close.png) no-repeat center;}
.star {background: url(images/star.png) no-repeat center;}
.share {background: url(images/share.png) no-repeat center;}
.account {background: url(images/account.png) no-repeat center;}

.main {
	width: 1020px;
	float: right;
	font-size: 12px;
	background: #eeeeed;
	position: relative;
}

.mainhead ul {
	box-sizing: border-box;
	padding-left: 25px;
	width: 100%;
	height: 30px;
	background: #fff;
}

.mainhead ul li {
    padding: 5px;
    color: #c3c3c3;
	list-style: none;
	float: left;
}

.mainhead ul li a {
    text-decoration: none;
	color: #c3c3c3;
}

.mainhead ul li:last-child a {
	color: #8eb1d1;
}

.main_content {
	width: 890px;
	margin: 0 auto;
	position: relative;
}

.section_1 {
	width: 100%;
	height: 85px;
	border: 1px solid #ccd0d4;
	background: #fff;
    margin-top: 20px;
	box-sizing: border-box;
	padding-top: 10px;
}

.section_1 label {
	color: #babbbc;
	margin: 0 5px 0 10px;
}

.section_1 .first {
	padding-left: 20px;
	width: 150px;
	position: relative;

}

.select_box {
	padding-left: 7px;
	font-size: 12px;
    height: 24px;
    border: 1px solid #babbbc;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(images/black_arrow.png) no-repeat;
    background-position: 90% 50%;
}

.blue_arrow {
	background: url(images/blue_arrow.png) no-repeat;
	background-position: 90% 50%;
}

.select_box::-ms-expand {
	display: none;
}

.w70 {
	width: 70px;
}

.w120 {
	width: 120px;
}

.second {
	width: 220px;
	position: relative;
}

.second div {
}

.third {
	width: 320px;
}

.second span {
	position: absolute;
	right: 28px;
	top: 5px;
}

.second .change {
	position: absolute;
	right: 2px;
	top: 10px;
	color: #fff;
	margin: 0;
}

.second div:last-of-type {
	margin-top: 5px;
}

.section_1>div {
	float: left;
}

.section_1 .third>div {
	padding: 3px;
    float: left;
}

.section_1 input {
	width: 50px;
	height: 25px;
	background: #388ac1;
	border: 0;
	outline: 0;
	color: #fff;
	position: absolute;
	right: 110px;
	top: 30px;
	cursor: pointer;
}

.section_1 input:hover {
	background: #106aa6;
}

.section_2 {
	margin-top: 8px;
}

.section_2 ul li {
	width: 110px;
	height: 65px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	border-top: 1px solid #cacdd1;
	border-left: 1px solid #cacdd1;
	list-style-type: none;
	background: #fff;
	margin-right: 5px;
}

.section_2 .onward{
	width: 30px;
	background: url(images/onward.png) no-repeat #fff;
	background-position: 10px 25px;
	cursor: pointer;
}

.section_2 .afterward{
	width: 30px;
	background: url(images/afterward.png) no-repeat #fff;
	background-position: 10px 25px;
	cursor: pointer;
}

.section_2 .current {
	border-top: 5px solid #4388c9;
}

.section_2 .hover:hover {
	border-top: 5px solid #4388c9;
	padding-top: 6px;
}

.section_2 ul li div {
	font-size: 21px;
	color: #ec6500;
}

.section_2 .history {
	width: 130px;
	margin-right: 0;
	position: relative;
}

.section_2 .history img {
	position: absolute;
	left: 20px;
	top: 15px;
}

.section_2 .history span {
	position: absolute;
	left: 60px;
	top: 25px;
}