* {
	margin: 0;
	[padding: 0;]
}

body {
	width: 100%;
	min-width: 1280px;
	font-family: "Microsoft YaHei";
}

header {
	height: 60px;
	position: relative;
}

header .banner-left {
	width: 10%;
	text-align: center;
	line-height: 60px;
	background: url(img/icon-1.png) no-repeat left;
	background-size: 16% 50%;
	position: absolute;
	left: 7%;
}

header .banner-left h1 {
    color: #4e3a4f;
    font-size: 24px;
    font-weight: normal;
}

header nav {
    position: absolute;
    left: 40%;
    bottom: 10px;
}

header nav ul {
	width: 400px;
	list-style-type: none;
}

header nav ul li {
	width:80px;
	font-size: 14px;
	color: #534141;
	text-align: center;
	float: left;

	-webkit-transition:color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	transition: color 0.4 ease-in-out;
}

header nav ul li:hover {
	color: #f04c57;
}

header .move {
	border-top: 4px solid #e53c3c;
	position: absolute;
	left: 45px;
	top: 45px;

	-webkit-transition: left 0.4s ease-in-out;
	-moz-transition: left 0.4s ease-in-out;
	transition: left 0.4s ease-in-out;
}

header nav ul li:nth-child(1):hover~.move {
	left: 45px;
}

header nav ul li:nth-child(2):hover~.move {
	left: 125px;
}

header nav ul li:nth-child(3):hover~.move {
	left: 205px;
}

header nav ul li:nth-child(4):hover~.move {
	left: 285px;
}

header nav ul li:nth-child(5):hover~.move {
	left: 365px;
}

header .banner-right {
	
}