* {
	margin: 0;
	[padding: 0;]
}

body {
	width: 100%;
	min-width: 1280px;
	font-family: "Microsoft YaHei";
}

header {
	height: 60px;
	position: relative;
}

header .banner-left {
	width: 10%;
	text-align: center;
	line-height: 60px;
	background: url(img/icon-1.png) no-repeat left;
	background-size: 16% 50%;
	position: absolute;
	left: 7%;
	cursor: default;
}

header .banner-left h1 {
    color: #4e3a4f;
    font-size: 24px;
    font-weight: normal;
}

header nav {
	height: 45px;
    position: absolute;
    left: 47%;
    bottom: 0px;
    cursor: pointer;
}

header nav ul {
	width: 450px;
	list-style-type: none;
}

header nav ul li {
	width:90px;
	font-size: 14px;
	color: #534141;
	text-align: center;
	float: left;

	-webkit-transition:color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	transition: color 0.4 ease-in-out;
}

header nav ul li:hover {
	color: #f04c57;
}

header nav .move {
	border-top: 4px solid #e53c3c;
	position: absolute;
	left: 40px;
	bottom: 0px;

	-webkit-transition: left 0.4s ease-in-out;
	-moz-transition: left 0.4s ease-in-out;
	transition: left 0.4s ease-in-out;
}

header nav ul li:nth-child(1):hover~.move {
	left: 45px;
}

header nav ul li:nth-child(2):hover~.move {
	left: 135px;
}

header nav ul li:nth-child(3):hover~.move {
	left: 225px;
}

header nav ul li:nth-child(4):hover~.move {
	left: 315px;
}

header nav ul li:nth-child(5):hover~.move {
	left: 405px;
}

header .banner-right {
	font-size: 14px;
	color: #e53c3c;
	position: absolute;
	right: 10%;
	bottom: 25px;
	padding-left: 25px;
	background: url(img/icon-2.jpg) no-repeat;
}

header .banner-right .move {
    width: 0;
    border-top: 2px solid #e53c3c;
    position: absolute;
    top: 25px;
    left: 22%;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

header .banner-right:hover .move {
	width: 50px;
}

#section_1 {
	height: 650px;
	margin-top: -1px;
	background-image: url(img/pic01.jpg);
	background-size: 100% auto;
}

#section_1 .text {
	position: absolute;
	left: 110px;
	top: 270px;
}

#section_1 .text p {
	font-size: 22px;
	color: #fff;
}

#section_1 .text p:first-child {
	font-family: Arial;
	font-size: 60px;
	letter-spacing: 3px;
	margin-bottom: 20px;
}

#section_1 .text p:last-of-type {
	margin-bottom: 60px;
}

#section_1 .text span {
	width: 300px;
	height: 60px;
	text-align: center;
	font-size: 28px;
	color: #fff;
	display: inline-block;
	line-height: 55px;
	background: #e53c3c;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
}

#section_1 .text span:hover {
	background: #e31212;
	border-radius: 3px;
}

#section_2 {
	height: 240px;
}

#section_2 div {
	width: 25%;
	padding-top: 40px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	float: left;
}

#section_2 div p {
	font-size: 14px;
    padding-bottom: 20px;
    margin: 40px 0 60px 0;
    color: #767777;
    border-right: 2px solid #767777;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#section_2 div:hover p {
	color: #be4f48;
}

#section_2 div:last-child p {
	border: none;
}

#section_3 {
	height: 400px;
	background: #edeaea;
	text-align: center;
}

#section_3 img {
	position: relative;
	right: 150px;
	top: 50px;
}

#section_3 p {
	font-size: 54px;
	color: rgba(50,51,51,0.5);
	position: relative;
	top: 100px;
}

#section_4 {
	height: 300px;
	padding-top: 80px;
	box-sizing: border-box;
	text-align: center;
	background: url(img/pic02.jpg);
	background-size: cover;
}

#section_4 .text {
    color: #fff;
}

#section_4 .text p:first-child {
	font-size: 22px;
}

#section_4 .text p:last-child {
	font-size: 13px;
}

#section_4 .text span {
	width: 30px;
	height: 20px;
	margin-top: 10px;
	display: inline-block;
	border-top: 2px solid #fff;
	-webkit-transition: width 0.4s ease-in-out;
	-moz-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

#section_4 .text:hover span {
	width: 300px;
}

#section_4 .options {
	height: 36px;
}

#section_4 input[type="radio"] {
	width: 240px;
	height: 36px;
	margin: 0 10px;
	cursor: pointer;
	position: relative;
	top: 47px;
	opacity: 0;
	z-index: 10;
}

#section_4 .select {
	width: 240px;
	height: 36px;
	margin: 0 10px;
	font-size: 14px;
	line-height: 36px;
	color: #b3b3b3;
	text-align: left;
	display: inline-block;
	position: relative;
	right: 132px;
	box-sizing: border-box;
	border: 1px solid #c6b3af;
	background: url(img/icon-7.png) no-repeat 210px 8px,#fff;
	background-size: 20px;
	padding-left: 10px;
}

#section_4 .select .option {
	width: 240px;
	background-color: #e3e3e5;
	display: none;
	position: absolute;
	top: 34px;
	left: -2px;
	z-index: 10;
}

#section_4 input[type="radio"]:nth-of-type(1):checked~.options .select,
#section_4 input[type="radio"]:nth-of-type(2):checked~.options .select {
	top: -1px;
}

#section_4 input[type="radio"]:nth-of-type(1):checked~.options .select_1{
    border: 2px solid #AE7271;
    border-bottom-width: 0;
}

#section_4 input[type="radio"]:nth-of-type(1):checked~.options .select_1 .option{
    display: block;
}

#section_4 input[type="radio"]:nth-of-type(2):checked~.options .select_2{
    border: 2px solid #AE7271;
    border-bottom-width: 0;
}

#section_4 input[type="radio"]:nth-of-type(2):checked~.options .select_2 .option{
    display: block;
}

#section_4 input[type="radio"]:nth-of-type(3):checked~.options .select_3{
    border: 1px solid #C6B3AF;
}

#section_4 .option ul {
	margin: 0;
	padding: 0;
	width: 240px;
	box-sizing: border-box;
	border: 2px solid #AE7271;
	border-top-width: 0;
}

#section_4 .option ul li {
	height: 32px;
	line-height: 32px;
	text-align: left;
	padding-left: 40px;
	list-style-type: none;
	cursor: pointer;
}

#section_4 .option ul li:hover {
	background: url(img/icon-8.png) no-repeat 10px 8px,#bf4e48;
	background-size: 20px;
	color: #fff;
}

#section_4 input[type="submit"] {
	width: 240px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	display: inline-block;
	margin: 0 10px;
	border: 0;
	background-color: #BE4F48;
    color: #fff;
    letter-spacing: 30px;
    cursor: pointer;
    position: relative;
    top: 36px;
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

#section_4 input[type="submit"]:hover {
	background-color: #e31212;
	border-radius: 3px;
}

#section_5 {
	height: 500px;
	background-color: #edeaea;
	text-align: center;
}

#section_5 .text {
	display: inline-block;
	width: 20%;
	height: 400px;
	position: relative;
	top: 50px;
}

#section_5 img {
	height: 300px;
}

#section_5 .text p:first-of-type {
	font-size: 14px;
	padding-top: 5px;
	color: #4403f;
}

#section_5 .text p:last-of-type {
	font-size: 12px;
	padding: 10px 0;
	color: #b3afac;
}

#section_5 .text:nth-child(2) {
	padding-top: 30px;
}

#section_5 .text:nth-child(2)>p:first-of-type {
	font-size: 24px;
	text-indent: 30px;
	letter-spacing: 30px;
}

#section_6 {
	height: 560px;
}

#section_6 .left {
	width: 68%;
	height: 560px;
	float: left;
	position: relative;
	background: url(img/pic07.jpg) no-repeat;
	background-size: cover;
}

#section_6 .left .text {
    color: #fff;
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 130px;
}

#section_6 .left .text p {
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
}

#section_6 .left .text p:nth-child(1) {
	font-size: 50px;
	height: 50px;
	line-height: 50px;
}

#section_6 .left .text p:nth-child(2) {
	font-size: 150px;
	height: 150px;
	line-height: 150px;
}

#section_6 .left:after {
	content: '';
	position: absolute;
	border-width: 30px;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	top: 250px;
	left: 100%;
	margin-left: -60px;
}

#section_6 .right{
    height: 560px;
    margin-left: 68%;
    text-align: center;
}

#section_6 .right .wrapper {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	top: 130px;
}

#section_6 .right .text {
	display: none;
}

#section_6 .right .text_1{
    display: block;
}

#section_6 .right .text p:first-child {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

#section_6 .right .text span {
	color: #be4f48;
}

#section_6 .right .text p:last-child {
	text-align: left;
	line-height: 25px;
	font-size: 14px;
	color: #b3afac;
	margin-bottom: 60px;
	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

#section_6 .right .text p:last-child:hover {
	color: #33363f;
}

#section_6 .right .button {
	width: 100px;
	height: 35px;
	font-size: 13px;
	line-height: 35px;
	border: 1px solid #be4f48;
	background-color: #fff;
	cursor: pointer;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#section_6 .right .button:hover {
	color: #fff;
	border-radius: 3px;
	background-color: #be4f48
}

#section_6 .right input[type="radio"] {
	width: 10px;
	height: 10px;
	position: relative;
	top: 320px;
	left: 30px;
	z-index: 10;
	opacity: 0;
	cursor: pointer;
}

#section_6 .right .list {
	height: 10px;
	width: 10px;
	border: 1px solid #6c5c5c;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 320px;
	right: 18px;
}

#section_6 .right .list:first-of-type {
    background-color: #6C5C5C;
}

#section_6 .right input[type="radio"]:checked~.list {
	background: #fff;
}

#section_6 .right input[type="radio"]:checked~.text {
	display: none;
}

#section_6 .right input[type="radio"]:nth-of-type(1):checked~.list:nth-of-type(1){
    background-color: #6C5C5C;
}

#section_6 .right input[type="radio"]:nth-of-type(1):checked~.text_1{
    display: block;
}

#section_6 .right input[type="radio"]:nth-of-type(2):checked~.list:nth-of-type(2){
    background-color: #6C5C5C;
}

#section_6 .right input[type="radio"]:nth-of-type(2):checked~.text_2{
    display: block;
}

#section_6 .right input[type="radio"]:nth-of-type(3):checked~.list:nth-of-type(3){
    background-color: #6C5C5C;
}

#section_6 .right input[type="radio"]:nth-of-type(3):checked~.text_3 {
    display: block;
}

#section_7 {
	height: 520px;
}

#section_7 .wrapper {
	width: 68%;
	height: 520px;
	float: left;
}

#section_7 .content {
	float: left;
	width: 50%;
	height: 520px;
	font-size: 20px;
	text-align: center;
	position: relative;
}

#section_7 .content:first-child {
	background-color: #e84e4c;
	color: #fff;
}

#section_7 .content .text {
	position: relative;
	top: 200px;
	height: 100px;
}

#section_7 .content .text p {
	margin-bottom: 10px;
}

#section_7 .text span {
	display: inline-block;
	width: 30px;
	height: 20px;
	margin: 10px;
	display: inline-block;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#section_7 .content:nth-of-type(1) span {
	border-top: 2px solid #fff;
}

#section_7 .content:nth-of-type(2) span {
	border-top: 2px solid #adadad;
}

#section_7 .text span:hover {
	width: 200px;
}

#section_7 .button {
	width: 150px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	position: relative;
	top: 220px;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#section_7 .content:firstchild .button {
	border-color: #fff;
}

#section_7 .content:first-child .button:hover {
	color: #e84e4c;
	background-color: #fff;
	border-radius: 3px;
}

#section_7 .content:last-child .button{
    border-color: #E84E4C;
    color: #E84E4C;
}

#section_7 .content:last-child .button:hover{
    background-color: #E84E4C;
    color: #fff;
    border-radius: 3px;
}

#section_7 .content:last-child::after {
	content: '';
	position: absolute;
	border-width: 20px;
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	top: 240px;
	left: 100%;
}

#section_7 .img {
	height: 520px;
	margin-left: 68%;
	background: url(img/pic08.jpg) no-repeat;
	background-size: cover;
}

#section_8 {
	height: 800px;
	text-align: center;
}

#section_8 .top {
	height: 300px;
	text-align: center;
	margin-top: 100px;
}

#section_8 .top p:nth-of-type(1) {
    font-size: 18px;
}

#section_8 .top p:nth-of-type(2) {
	font-size: 14px;
	color: #b3afac;
}

#section_8 .top span {
	display: inline-block;
	width: 30px;
	height: 20px;
	margin: 10px;
	border-top: 2px solid #e44f4b;
	-webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#section_8 .top span:hover {
	width: 200px;
}

#section_8 .left {
	display: inline-block;
	width: 30%;
	height: 400px;
	text-align: left;
}

#section_8 .left .text {
	width: 350px;
	height: 130px;
}

#section_8 .left span {
	font-size: 14px;
	color: #b3afac;
	float: right;
	cursor: pointer;
}

#section_8 .left .text p:nth-of-type(1) {
    font-size: 16px;
    color: #6C5C5C;
    margin-bottom: 15px;
}

#section_8 .left .text p:nth-of-type(2) {
	font-size: 14px;
	color: #b3afac;
}

#section_8 .right {
	width: 700px;
	height: 400px;
	color: #4e3a4f;
	display: inline-block;
	font-size: 14px;
}

#section_8 .right input[type="text"]:focus,#section_8 .right textarea:focus {
	border: 1px solid #e3e3e3;
	background-color: #fff;
}

#section_8 .right input[type="text"] {
	height: 40px;
	width: 300px;
	box-sizing: border-box;
	margin: 10px;
	padding: 10px;
	border: 0;
	outline: 0;
	background-color: #e3e3e3;
}

#section_8 .right textarea {
	width: 620px;
	height: 160px;
	box-sizing: border-box;
	margin: 10px;
	padding: 10px;
	border: 0;
	outline: 0;
	background-color: #e3e3e3;
	resize: none;
}

#section_8 .right input[type="submit"] {
	width: 620px;
	height: 40px;
	margin: 10px;
	border: 0;
	outline: 0;
	background-color: #e3e3e3;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#section_8 .right input[type="submit"]:hover {
	border-radius: 5px;
	box-shadow: 1px 1px 1px #b3afac,-1px -1px 1px #b3afac;
}

#section_9 {
	height: 400px;
	text-align: center;;
	background-color: #33363f;
	font-size: 14px;
	color: #fff;
}

#section_9 p:first-child {
    font-size: 20px;
    padding: 100px 0 20px 0;
}

#section_9 .text input[type="email"] {
	width: 500px;
	height: 40px;
	font-size: 15px;
	box-sizing: border-box;
	padding-left: 10px;
	color: #75757f;
	margin-top: 50px;
	outline: 0;
}

#section_9 .text input[type="submit"] {
	width: 100px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	letter-spacing: 5px;
	border: 0;
	box-sizing: border-box;
	background-color: #75757f;
	outline: 0;
	position: relative;
	left: -5px;
	top: 1px;
	-webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

#section_9 .text input[type="submit"]:hover {
	background-color: #5e5e68;
}

#section_9 .icon {
	height: 50px;
	color: #fff;
	font-size: 30px;
	display: inline-block;
	position: relative;
	top: 30px;
}

#section_9 .icon span {
	width: 50px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transition: font-size 0.4s ease-in-out;
    -moz-transition: font-size 0.4s ease-in-out;
    transition: font-size 0.4s ease-in-out;
}

#section_9 .icon span:hover {
	font-size: 35px;
}

footer{
    height: 60px;
    background-color: #30303A;
}

footer .text,footer .back {
	width: 300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 10px;
}

footer .text {
	float: left;
	cursor: pointer;
}

footer .back {
	float: right;
}

footer .back a{
    text-decoration: none;
    color: #fff;
    
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}
footer .back a:hover{
    color: #75757F;
}