* {
	margin: 0;
	padding: 0;
}

#main {
	margin: 100px auto;
}

#caption {
	background: rgb(198,27,1);
	border: 1px solid #ddd;	
	border-bottom: none;
	position: relative;
}

#calendar {
	position: relative;
}

#calendar_data {
	border: 1px solid #ddd;
	border-top: none;
	overflow: auto;
	position: absolute;
}

#left_arrow {
	width: 0;
	height: 0;
	border-right: 10px solid #fff;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	cursor: pointer;
	position: absolute;
	left: 5px;
	top: calc(50% - 5px);
	z-index: 10;
}

#right_arrow {
	width: 0;
	height: 0;
	border-left: 10px solid #fff;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: calc(50% - 5px);
	z-index: 10;
}

#title {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
}

.day_cell {
	float: left;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
}

.week_cell {
	cursor: default;
}

.before, .after {
	color: #ddd;
}

.special_week {
	color: rgb(198,27,1);
}

#selected_start, #selected_end {
	color: #fff;
	background: rgb(198,27,1);
}

#selected_end {
	color: #0f0;
}

.selected {
	background: #ddd;
}

#date_input, #date_multi_input {
	width: 200px;
	height: 20px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#button_wrap {
	position: absolute;
}